* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 900px;
    width: 900px;
    flex-direction: column;
    border: 1px solid red;

}

section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 200px;
    border: 1px solid red;
    margin-bottom: 100px;

}

section img {
    height: 140px;
    width: 140px;
}

.board {
    width: 880px;
    height: 880px;
    border: 1px solid red;
}