* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 900px;
    width: 900px;
    flex-direction: column;

}

section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 200px;
    margin: 0 auto 100px;

}

.board {
    display: grid;
    grid-template-areas: "A A A"
    "B B B"
    "C C C";
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.first {
    grid-area: "A";
}

.second {
    grid-area: "B";
}

.third {
    grid-area: "C";
}

section img {
    height: 140px;
    width: 140px;
}

.board {
    width: 880px;
    height: 880px;
}